

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


:root{
    --color-0: #e4ecf8;
    --color-1: #DEFCF9;
    --color-2: #CADEFC;
    --color-3: #C3BEF0;
    --color-4: #CCA8E9;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;

}
body{
    background-color: var(--color-1);
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 105px;
    padding: 0px 15px;
}
.search{

    display: flex;
    align-items: center;
    margin: 0 30px;
}
.search input{
    padding: 10px;
    width: 25vw;
    height: 2vh; margin: 0 16px 0 56px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-style: none;
}
.search button{
    font-family: 'Roboto Mono', monospace;

}
.btn
{
    padding: 1vh 1vw;
    color: white;
    background-color: var(--color-4);
    border-radius: 10px;
    border-style:solid ;
    border-color: white;
}
.btn:hover
{
    padding: 1vh 1vw;
    color: grey;
    background-color: var(--color-4);
    border-radius: 10px;
    border-style:solid ;
    font-weight: 1000;
    border-color: white;
}


nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8vh;
}
nav ul li{
    list-style: none;
    padding:0 1vw;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    text-decoration: none;
    color: var(--color-3);
    font-weight: bolder;
}
header{
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--color-4);
    color: white;
    border: 2px solid var(--color-4);
    font-family: 'Roboto Mono', monospace;
}



.backtext{
    z-index: -1;
    position: fixed;
    right: 0;
    top: 5vh;

}
.backtext P{
    position: sticky;
    font-family: 'Monoton', cursive;
    font-size: 15vh;
    color: white;
    
}
main{
    margin-top:25vh;
}

.container{
    min-height: calc(200vh - 8vh - 12vh);
    /* background-color: var(--color-1); */
    margin: 8vh 2vw 0 2vw ;
}
.card{
    padding: 10px;
    background-color: var(--color-2);
    
}
.card h2{
    background-color:#e4ecf8;
    padding: 5px;
    max-width: 91vw;
    margin: auto;
   
}
.card-items{
    overflow-x: hidden;
    background: none;
    display: flex;
    justify-content: flex-start;
}
.card-item{
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;

    margin: 0 1vw;
}
.card-image{
    background-color: white;
    overflow: hidden;
    min-width: 86px;
    width: 13vw;
    height: 30vh;
}
.card-image img{
    max-width: 13vw;
    min-width: 118px;
}
.lines{
    display: flex;
    flex-direction: column;
    /* font-weight: 900; */
    /* font-style: bold; */
    font-size: 2vh;
}
.lines p{
    background: none;
    height: 2.1vh;
    margin: 5px 0;
    overflow: hidden;
}



footer{
    height: 12vh;
    background-color: var(--color-4);
    color: white;
    font-family: 'Roboto Mono', monospace;
}